<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>config</string>
	</array>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywords</key>
	<array>
		<dict>
			<key>RunKind</key>
			<string>com.barebones.bblm.keyword</string>
			<key>Keywords</key>
			<array>
				<string>Host</string>
				<string>Match</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.barebones.bblm.predefined-symbol</string>
			<key>Keywords</key>
			<array>
				<string>AddKeysToAgent</string>
				<string>AddressFamily</string>
				<string>BatchMode</string>
				<string>BindAddress</string>
				<string>CanonicalDomains</string>
				<string>CanonicalizeFallbackLocal</string>
				<string>CanonicalizeHostname</string>
				<string>CanonicalizeMaxDots</string>
				<string>CanonicalizePermittedCNAMEs</string>
				<string>CASignatureAlgorithms</string>
				<string>CertificateFile</string>
				<string>CheckHostIP</string>
				<string>Ciphers</string>
				<string>ClearAllForwardings</string>
				<string>Compression</string>
				<string>ConnectionAttempts</string>
				<string>ConnectTimeout</string>
				<string>ControlMaster</string>
				<string>ControlPath</string>
				<string>ControlPersist</string>
				<string>DynamicForward</string>
				<string>EnableEscapeCommandline</string>
				<string>EscapeChar</string>
				<string>ExitOnForwardFailure</string>
				<string>FingerprintHash</string>
				<string>ForkAfterAuthentication</string>
				<string>ForwardAgent</string>
				<string>ForwardX11</string>
				<string>ForwardX11Timeout</string>
				<string>ForwardX11Trusted</string>
				<string>GatewayPorts</string>
				<string>GlobalKnownHostsFile</string>
				<string>GSSAPIAuthentication</string>
				<string>GSSAPIDelegateCredentials</string>
				<string>HashKnownHosts</string>
				<string>HostbasedAcceptedAlgorithms</string>
				<string>HostbasedAuthentication</string>
				<string>HostKeyAlgorithms</string>
				<string>HostKeyAlias</string>
				<string>Hostname</string>
				<string>IdentitiesOnly</string>
				<string>IdentityAgent</string>
				<string>IdentityFile</string>
				<string>IPQoS</string>
				<string>KbdInteractiveAuthentication</string>
				<string>KbdInteractiveDevices</string>
				<string>KexAlgorithms</string>
				<string>KnownHostsCommand</string>
				<string>LocalCommand</string>
				<string>LocalForward</string>
				<string>LogLevel</string>
				<string>MACs</string>
				<string>NoHostAuthenticationForLocalhost</string>
				<string>NumberOfPasswordPrompts</string>
				<string>PasswordAuthentication</string>
				<string>PermitLocalCommand</string>
				<string>PermitRemoteOpen</string>
				<string>PKCS11Provider</string>
				<string>Port</string>
				<string>PreferredAuthentications</string>
				<string>ProxyCommand</string>
				<string>ProxyJump</string>
				<string>ProxyUseFdpass</string>
				<string>PubkeyAcceptedAlgorithms</string>
				<string>PubkeyAuthentication</string>
				<string>RekeyLimit</string>
				<string>RemoteCommand</string>
				<string>RemoteForward</string>
				<string>RequestTTY</string>
				<string>RequiredRSASize</string>
				<string>SendEnv</string>
				<string>ServerAliveCountMax</string>
				<string>ServerAliveInterval</string>
				<string>SessionType</string>
				<string>SetEnv</string>
				<string>StdinNull</string>
				<string>StreamLocalBindMask</string>
				<string>StreamLocalBindUnlink</string>
				<string>StrictHostKeyChecking</string>
				<string>TCPKeepAlive</string>
				<string>Tunnel</string>
				<string>TunnelDevice</string>
				<string>UpdateHostKeys</string>
				<string>UseKeychain</string>
				<string>User</string>
				<string>UserKnownHostsFile</string>
				<string>VerifyHostKeyDNS</string>
				<string>VisualHostKey</string>
				<string>XAuthLocation</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.barebones.bblm.variable</string>
			<key>Keywords</key>
			<array>
				<string>yes</string>
				<string>no</string>
				<string>on</string>
				<string>off</string>
				<string>confirm</string>
				<string>ask</string>
				<string>accept-new</string>
				<string>unbound</string>
				<string>host-bound</string>
				<string>point-to-point</string>
				<string>ethernet</string>
			</array>
		</dict>
	</array>
	<key>BBLMLanguageCode</key>
	<string>SshC</string>
	<key>BBLMLanguageDisplayName</key>
	<string>SSH config</string>
	<key>BBLMReferenceSearchURLTemplate</key>
	<string>https://www.google.com/search?q=__SYMBOLNAME__+site:man.openbsd.org</string>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string># </string>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>#.*$</string>
		<key>Keyword Pattern</key>
		<string>(%[A-Z])</string>
		<key>Identifier and Keyword Character Class</key>
		<string>[:alpha:]</string>
	</dict>
	<key>com.barebones.DocumentType</key>
	<string>CodelessLanguageModule</string>
</dict>
</plist>
